#{extends 'main.html' /}
<head>
<!-- Create sliders. -->
<script type="text/javascript">
		
	function call(id){
		//alert("se llamo");
		ver(id);
	}

	var unoAction = #{jsAction @uno(':id') /}
	var ver=function(id) {  $('#uno').load(
	       unoAction({id: id}), 
	       function() {
	           $('#content').css('visibility', 'visible')
	       }
	 )}
	
	$(function() {

		$('#slider1').Thumbelina({
			$bwdBut : $('#slider1 .left'), // Selector to left button.
			$fwdBut : $('#slider1 .right')
		// Selector to right button.
		});

	})
	
	
</script>

<style type="text/css">
/* Some styles for the containers */
#slider1 {
	position: relative; /* Containers need relative or absolute position. */
	margin-left: 20px;
	width: 92%;
	height: 350px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
</style>

</head>
<body>
	<div class="container" id="prin">
		<div class="well">
			<div class="page-header">
				<h1>
					Comprar boletos <small>Adquieralo usted mismo</small>
				</h1>
			</div>
		</div>
		<div class="row" >
			<div class="col-lg-6">
				<div class="well">
					<h3>Seleccione su vuelo</h3>
					<div id="slider1">
						<div class="thumbelina-but horiz left">&#706;</div>
						<ul>
							#{if boletos} #{list items:boletos , as:'bolet'} #{if
							bolet.getDisponibles()>=1}
							<li>
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Vuelo: ${bolet.vuelo.origen} a
											${bolet.vuelo.destino}</h3>
									</div>
									<div class="panel-body">
										<h6>N°Vuelo:${bolet.vuelo.numero}</h6>
										<h6>Salida:${bolet.vuelo.fechaSalida}</h6>
										<h6>Llegada:${bolet.vuelo.fechaLlegada}</h6>
										<h6>Avion :${bolet.vuelo.avion.marca}</h6>
										<h6>Costo :${bolet.valor}</h6>
										<h6>AsientosPasillo :${bolet.puestosPasillo}</h6>
										<h6>AsientosVentana :${bolet.puestosVentana}</h6>
										<a class="btn btn-warning" id="ver"
											onclick="call(${bolet.id})">Solicitar</a>
									</div>
								</div>
							</li> #{/if} #{/list} #{/if} #{else}
							<li>
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">NO HAY VUELOS</h3>
									</div>
									<div class="panel-body">INTENTELO MAS TARDE</div>
								</div>
							</li> #{/else}
						</ul>
						<div class="thumbelina-but horiz right">&#707;</div>
					</div>
				</div>

			</div>
			<div class="col-lg-6">
				<div class="well" align="center">
					<h3>
						Realizar compra <span class="label label-info">!!</span>

					</h3>

					<hr>
					<div align="center" id="uno">
						
						#{if flash.success}
						<div class="alert alert-info"><h3>&{flash.success}</h3></div>
						
						#{/if} 
						#{if flash.error}
						<div class="alert alert-danger"><h3>&{flash.error}</h3></div>
						#{/if} 						
						#{else} <a href="/repo"><img height="250px" width="250px"
							src="@{'/public/images/cart.png'}"></a> #{/else}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>