#{extends 'main.html' /}
<head>
<!-- Create sliders. -->
<script type="text/javascript">
	$(function() {

		$('#slider1').Thumbelina({
			$bwdBut : $('#slider1 .left'), // Selector to left button.
			$fwdBut : $('#slider1 .right')
		// Selector to right button.
		});

	})
</script>

<style type="text/css">
/* Some styles for the containers */
#slider1 {
	position: relative; /* Containers need relative or absolute position. */
	margin-left: 20px;
	width: 1000px;
	height: 350px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
</style>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="box">
				<div class="col-lg-6">
					<div id="slider1">
						<div class="thumbelina-but horiz left">&#706;</div>
						<ul>
							#{if boletos}
							#{list items:boletos , as:'bolet'}
							#{if bolet.getDisponibles()>=1}
							<li>
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Vuelo: ${bolet.vuelo.origen} a ${bolet.vuelo.destino}</h3>
									</div>
									<div class="panel-body">
									<h6>N°Vuelo:${bolet.vuelo.numero}</h6>
									<h6>Salida:${bolet.vuelo.fechaSalida}</h6>
									<h6>Llegada:${bolet.vuelo.fechaLlegada}</h6>
									<h6>Avion :${bolet.vuelo.avion.marca}</h6>
									<h6>Costo :${bolet.valor}</h6>
									<h6>Asientos :${bolet.getDisponibles()}</h6>
									<a class="btn btn-warning" href="@{Compras.comprar(bolet.id)}">comprar</a>
									</div>
								</div>
							</li>
							#{/if}
							#{/list}
							#{/if}
							#{else}
								<li>
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">NO HAY VUELOS</h3>
									</div>
									<div class="panel-body">INTENTELO MAS TARDE</div>
								</div>
							</li>
							#{/else}
						</ul>
						<div class="thumbelina-but horiz right">&#707;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>